<h4>*ngIf</h4>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos...
</div>
<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos...
</div>


<br>

<button (click)="onMostrarCursos()" class="btn btn-primary">
  Mostrar ou esconder cursos
</button>

<h4>hidden como alternativa</h4>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos...
</div>


<h4>Removendo o * e usando template</h4>

<template [ngIf]="mostrarCursos">
  <div>
    Lista de cursos aqui.
  </div>
</template>

<div template="ngIf mostrarCursos">
  Lista de cursos aqui.
</div>
